APP_NAME="Akıllı Ev Enerji Tüketimi Tahmin Sistemi"
DEBUG=false
DATABASE_URL=sqlite:///./smart_home_energy.db
MODEL_PATH=./saved_models/best_model.joblib
PREPROCESSOR_PATH=./saved_models/preprocessor.joblib
DATASET_PATH=./data/energy_consumption.csv

